body {
  background-color: hsl(210, 36%, 96%);
}

section {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.container {
  text-align: center;
  background-color: #fff;
  width: 570px;
  min-height: 150px;
  height: auto;
  border-radius: 7px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 30px;
  font-weight: 700;
  opacity: 80%;
  letter-spacing: 1.5px;
  margin: 30px 0 10px 0;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 27px;
  margin-top: 20px;
}

input {
  width: 70%;
  height: 100%;
  border-radius: 5px 0 0 5px;
  border: none;
  background-color: hsl(210, 36%, 96%);
  padding: 3px 0 3px 20px;
  font-size: 17px;
}

.form-container {
  height: 30px;
  margin-bottom: 40px;
}

.submit{
  height: 32.5px;
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  width: 80px;
  border-radius: 0 3px 3px 0;
  border: none;
  background-color: rgb(148, 209, 255);
  transition: all linear 0.3s;
}


button{
  border: none;
  background-color: #fff;
  cursor: pointer;
}


  

.submit:hover {
  background-color: rgb(119, 170, 251);
  color: hsl(210, 36%, 96%);
}

.clear-btn {
  margin: 30px 0 40px 0;
  width: auto;
  background-color: #fff;
  color: rgb(235, 93, 93);
  text-transform: capitalize;
}

.clear-btn:hover {
  color: rgb(177, 8, 8);
}

.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 37px 0 37px;
  padding: 5px 10px;
  border-radius: 5px;
}

.list-items:hover {
  background-color: hsl(210, 36%, 96%);
}

.btn-container {
  display: flex;
  font-size: 11px;
}

.edit-btn {
  margin: 0 10px;
  display: inline-block;
  color: rgb(130, 251, 130);
  cursor: pointer;
  background-color: transparent;
}



.delete-btn {
  background-color: transparent;
  color: rgb(234, 89, 89);
  cursor: pointer;
}

.text {
  letter-spacing: 1.5px;
}

.alert {
  padding: 3px 0;
  margin: 40px 40px;
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
  border-radius: 0.25rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}

.alert-danger {
  color: #721c24;
  background: #f8d7da;
}
.alert-success {
  color: #155724;
  background: #d4edda;
}
